[submodule "lib/src/glew"]
	path = lib/src/glew
	url = https://github.com/nigels-com/glew
[submodule "lib/src/zlib"]
	path = lib/src/zlib
	url = https://github.com/madler/zlib
[submodule "lib/src/glm"]
	path = lib/src/glm
	url = https://github.com/g-truc/glm
[submodule "lib/src/libav"]
	path = lib/src/libav
	url = git://git.ffmpeg.org/ffmpeg.git
[submodule "lib/src/openal-soft"]
	path = lib/src/openal-soft
	url = https://github.com/kcat/openal-soft/
